@import 'vars';

.user-content {
    background: $gray-bg;
    padding: 60px 0;
    .row {
        justify-content: space-between;
        .col {
            &:nth-child(1) {
                padding-left: 25px;
            }
        }
    }
}

@media only screen and (max-width: 1400px) {
    .container {
      width: 96%;
    }
}


@media only screen and (max-width: 1140px) {
    .row {
        flex-direction: column;
        .col {
            margin: 40px 15px;
            padding-left: 0px!important;
        }
    }
}