@import 'vars';

.table-header {
    height: 200px;
    box-shadow: $shadow-header;
    position: relative;
    background: white;
    .container {
        height: 100%;
        .row {
            align-items: center;
            height: 100%;
            position: relative;

            .first-col {
                width: 100px;
                position: relative;
                height: 100%;
                .shape {
                    position: absolute;
                    bottom: -29px;
                    width: 60px;
                    height: 60px;
                    border-radius: 50%;
                    background-color: $color-primary-dark;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    span {
                        color: white;
                        font-size: 48px;
                        font-family: 'Segoe UI light', sans-serif;
                        position: relative;
                        bottom: 5px;
                    }
                }
            }
            
            .second-col {
                display: flex;
                justify-content: space-between;
                width: 100%;
                
                label {
                    input {
                        border: none;
                        border-bottom: 1px solid black;
                        padding: 10px;
                        font-size: 20px;
                        &::placeholder {
                            font-style: italic;
                            font-family: 'Segoe UI light', sans-serif;
                        }
                        &:focus {
                            outline: none;
                        }
                    }
                    img {
                        border: none;
                        border-bottom: 1px solid black;
                        padding: 10px;
                        position: relative;
                        top: 16px;
                        width: 40px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 890px) {
    .container {
      width: 96%;
    }
}
@media only screen and (max-width: 625px) {
    .second-col {
      flex-direction: column;
      text-align: center;
      input {
          margin: 15px 0;
      }
    }
    .first-col {
        width: 0!important;
    }
}