<div class="table-header">
    <div class="container">
        <div class="row">
            <div class="first-col">
                <div class="shape" (click)="onOpenNewUserModal()">
                    <span>+</span>
                </div>
            </div>
            <div class="second-col">
                <h1>Project Access</h1>
                <label> 
                    <input type="text" placeholder="Type to filter the table" [(ngModel)]="filterString" (input)="onEmitString()">
                    <img src="assets/images/search.svg" alt="" width="24px">
                </label>
            </div>
        </div>
    </div>
</div>
