@import 'vars';

.table {
    .container {
        padding: 60px 0;
        table {
            width: 100%;
            border-collapse: collapse;
            font-size: 16px;
            min-width: 720px;
            .inactive {
                b, small, .profile-img-container {
                    opacity: .3;
                }
            }
            .flex-center {
                display: flex;
                align-items: center;
                padding-left: 50px;
                .icon-container {
                    height: 32px;
                    width: 48px;
                    line-height: 42px;
                    border-radius: 30px;
                    margin-right: 15px;
                    img {
                        display: none;
                    }
                }
                .show-key {
                    img {
                        display: inline!important;
                    }
                }
            }
            .active-user {
                .show-key {
                    background: $color-purple;
                }
            }
            .active-th {
                opacity: 1!important;
            }
            tr {
                padding: 5px 0;
                &:nth-child(1) {
                    border-bottom: none;
                }
                th {
                    padding: 15px 10px;
                    border-bottom: 2px solid $color-table-border;
                    cursor: pointer;
                    opacity: .33;
                    transition: .2s;
                    &:nth-child(1) {
                        border: none;
                        width: 100px;
                        cursor: auto;
                    }
                    &:nth-child(2) {
                        text-align: left;
                    }
                    &:last-child {
                        cursor: auto;
                    }
                    img {
                        margin-left: 10px;
                        margin-bottom: 2px;
                    }
                }
                .switch-container {
                    position: relative;
                    img {
                        cursor: pointer;
                        position: absolute;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }
                td {
                    padding: 15px 10px;
                    border-bottom: 1px solid $color-table-border;
                    text-align: center;
                    .profile-img-container {
                        width: 66px;
                        text-align: center;
                        img {
                            width: 40px;
                        }
                    }
                    &:nth-child(1) {
                        border: none;
                        padding: 0;
                        text-align: left;
                        width: 100px;
                    }
                    &:nth-child(2) {
                        text-align: left;
                    }
                    &:last-child {
                        color: $color-gray;
                    }
                    .fa {
                        transition: .2s ease;
                        margin: 0px 10px;
                        font-size: 16px;
                    }
                    .fa-cog {
                        &:hover {
                            color: $color-primary;
                            cursor: pointer;
                        }
                    }
                    .fa-trash {
                        &:hover {
                            color: $color-danger;
                            cursor: pointer;
                        }
                    }
                }
            }
        }

        .controls {
            display: flex;
            margin-top: 40px;
            justify-content: space-between;
            align-items: center;
            padding-left: 100px;
            padding-right: 20px;
            transition: .2s ease;
            span {
                font-family: 'Segoe UI light', sans-serif;
            }
            select {
                font-weight: bold;
                width: 37px;
                outline: none;
                border: none;
                cursor: pointer;
                margin-left: 10px;
                background: transparent;
            }
            .pagination {
                display: flex;
                align-items: center;
                span {
                    cursor: pointer;
                }
                .disabled {
                    pointer-events: none;
                }
                ul {
                    list-style-type: none;
                    display: flex;
                    margin: 0px 10px;
                    li {
                        margin: 0px 5px;
                        font-weight: bold;
                        width: 32px;
                        height: 32px;
                        line-height: 32px;
                        text-align: center;
                        cursor: pointer;
                        transition: .2s ease;
                    };
                    .active-page {
                        background: $color-gray;
                        box-shadow: $shadow-header;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 890px) {
    .container {
      width: 96%;
    }
}

@media only screen and (max-width: 750px) {
    .controls {
        padding-left: 10px!important;
        padding-right: 10px!important;
    }
}

@media only screen and (max-width: 430px) {
    .controls {
        flex-direction: column;
        justify-content: space-around;
        .select-rows {
            margin-bottom: 30px;
        }
    }
}