<div class="table">
    <div class="container">
        <table>
            <tr>
                <th></th>
                <th 
                    (click)="onSort('name')"
                    [ngClass]="{'active-th': sortProperty.activeSort === 'name'}">
                        USER 
                        <img src="assets/images/caret-down-active.svg" alt="">
                </th>
                <th 
                    (click)="onSort('role')"
                    [ngClass]="{'active-th': sortProperty.activeSort === 'role'}">
                        ROLE 
                        <img src="assets/images/caret-down-active.svg" alt="">
                </th>
                <th 
                    (click)="onSort('status')"
                    [ngClass]="{'active-th': sortProperty.activeSort === 'status'}">
                        STATUS 
                        <img src="assets/images/caret-down-active.svg" alt="">
                </th>
                <th>ACTIONS</th>
            </tr>
            <tr *ngFor="let user of displayedUsers()" [ngClass]="{'inactive': !user.active}">
                <td> 
                    <div class="profile-img-container">
                        <img src="assets/images/profile.svg"> 
                    </div>
                </td>
                <td> <b>{{user.firstName + ' ' + user.lastName}}</b> <br> <small>{{user.email}}</small> </td>
                <td> <b>{{user.role}}</b> </td>
                <td class="switch-container">
                    <img 
                        [src]="user.active ? 'assets/images/switch-active.svg' : 'assets/images/switch-not-active.svg'"
                        (click)="switchStatus(user)"
                    >
                </td>
                <td>
                    <i class="fa fa-cog" (click)="navigatoToUser(user.id)"></i> 
                    <i class="fa fa-trash" (click)="deleteUser(user.id)"></i>
                </td>
            </tr>
        </table>
        <div class="controls">
            <div class="select-rows">
                Records on page
            </div>
            <div class="pagination" *ngIf="pages()">
                <span (click)="navigate(false)" [ngClass]="{'disabled': currentPage === 1}">Previous</span>
                <ul>
                    <li *ngFor="let page of pagination()" [ngClass]="{'active-page': +page === currentPage}" (click)="selectPage(page)">
                        {{page}}
                    </li>
                </ul>
                <span (click)="navigate(true)" [ngClass]="{'disabled': currentPage === pages()}">Next</span>
            </div>
        </div>
    </div>
</div>