<div class="table">
    <div class="container">
        <div style="overflow-x: auto;">
            <table>
                <tr>
                    <th></th>
                    <th 
                        (click)="onSort('name')"
                        [ngClass]="{'active-th': sortProperty.activeSort === 'name'}">
                            USER 
                            <img src="assets/images/caret-down-active.svg" alt="">
                    </th>
                    <th 
                        (click)="onSort('role')"
                        [ngClass]="{'active-th': sortProperty.activeSort === 'role'}">
                            <div class="flex-center">
                                <div class="icon-container"></div>
                                ROLE 
                                <img src="assets/images/caret-down-active.svg" alt="">
                            </div>
                    </th>
                    <th 
                        (click)="onSort('status')"
                        [ngClass]="{'active-th': sortProperty.activeSort === 'status'}">
                            STATUS 
                            <img src="assets/images/caret-down-active.svg" alt="">
                    </th>
                    <th>ACTIONS</th>
                </tr>
                <tr *ngFor="let user of displayedUsers()" [ngClass]="{'inactive': !user.active}">
                    <td> 
                        <div class="profile-img-container">
                            <img src="assets/images/profile.svg"> 
                        </div>
                    </td>
                    <td> <b>{{user.firstName + ' ' + user.lastName}}</b> <br> <small>{{user.email}}</small> </td>
                    <td>
                        <div class="flex-center" [ngClass]="{'active-user': user.active}">
                            <div class="icon-container"
                            [ngClass]="{'show-key': user.role === 'Admin'}"
                            >
                                <img [src]="user.active ? 'assets/images/key-active.svg' : 'assets/images/key-gray.svg'">
                            </div> 
                            <b>{{user.role}}</b>
                        </div>
                    </td>
                    <td class="switch-container">
                        <img 
                            *ngIf="user.active"
                            src="assets/images/switch-active.svg"
                            (click)="switchStatus(user)"
                            @fade
                        >
                        <img 
                            *ngIf="!user.active"
                            src="assets/images/switch-not-active.svg"
                            (click)="switchStatus(user)"
                            @fade
                        >
                    </td>
                    <td>
                        <i class="fa fa-cog" (click)="navigatoToUser(user.id)"></i> 
                        <i class="fa fa-trash" (click)="deleteUser(user.id)"></i>
                    </td>
                </tr>
            </table>
        </div>
        <div class="controls">
            <div class="select-rows">
                <span>Records on page</span>
                <select [(ngModel)]="rows" class="records-per-page" (change)="selectRows()">
                    <option value="3">3</option>
                    <option value="5">5</option>
                    <option value="10">10</option>
                </select>
            </div>
            <div class="pagination" *ngIf="pages()">
                <span (click)="navigate(false)" [ngClass]="{'disabled': currentPage === 1}">Previous</span>
                <ul>
                    <li *ngFor="let page of pagination()" [ngClass]="{'active-page': +page === currentPage}" (click)="selectPage(page)">
                        {{page}}
                    </li>
                </ul>
                <span (click)="navigate(true)" [ngClass]="{'disabled': currentPage === pages()}">Next</span>
            </div>
        </div>
    </div>
</div>