<div class="user-permissions" [ngClass]="{'inactive-user': !user?.active}">
    <div class="title">
        <h1>Permissions</h1>
        <span>{{user?.role === 'Admin' ? 'Admin' : 'User'}}</span>
    </div>
    <div class="super-admin" [ngClass]="{'inactive': user?.role === 'User'}">
        <span><b>Super Admin</b></span>
        <img 
            *ngIf="user?.superAdmin"
            src="assets/images/switch-active.svg"
            (click)="switchSuperAdmin()"
            @fade
        >
        <img 
            *ngIf="!user?.superAdmin"
            src="assets/images/switch-not-active.svg"
            (click)="switchSuperAdmin()"
            @fade
        >
    </div>
    <div class="permissions">

        <div class="permission-group" *ngFor="let group of permissionGroups">
            <div class="permission-title">
                <div class="icon" (click)="showGroups[group] = !showGroups[group]">
                    <img src="assets/images/caret-down.png" alt="">
                </div>
                <div class="group" (click)="showGroups[group] = !showGroups[group]">
                    <b>Permission group {{group}}</b>
                </div>
                <div class="switch">
                    <img
                        *ngIf="groups[group][0]"
                        src="assets/images/switch-active.svg"
                        (click)="switchGroup(group)"
                        @fade
                    >
                    <img 
                        *ngIf="!groups[group][0]"
                        src="assets/images/switch-not-active.svg"
                        (click)="switchGroup(group)"
                        @fade
                    >
                </div>
            </div>

            <div class="permissions-list" [ngClass]="{'open': showGroups[group]}">
                <ul>
                    <li *ngFor="let permission of permissions">
                        <div class="permission-name">
                            <div class="shape" [ngClass]="{'active-shape': groups[group][permission]}"></div>
                            <p>Permission {{group}}{{permission}}</p>
                        </div>
                        <div class="permission-switch">
                            <img 
                                *ngIf="groups[group][permission]"
                                src="assets/images/switch-active.svg"
                                (click)="switchPermission(group, permission)"
                                @fade
                            >
                            <img 
                                *ngIf="!groups[group][permission]"
                                src="assets/images/switch-not-active.svg"
                                (click)="switchPermission(group, permission)"
                                @fade
                            >
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>

