<div class="user-permissions">
    <div class="title">
        <h1>Permissions</h1>
        <span>{{'Admin'}}</span>
    </div>
    <div class="super-admin">
        <span><b>Super Admin</b></span>
        <img src="assets/images/switch-not-active.svg" alt="">
    </div>
    <div class="permissions">

       <!-- GROUP 1 -->
       <div class="permission-group">
        <div class="permission-title" (click)="showGroupOne = !showGroupOne">
            <div class="icon">
                <img src="assets/images/caret-down.png" alt="">
            </div>
            <div class="group">
                <b>Permission group 1</b>
            </div>
            <div class="switch">
                <img src="assets/images/switch-active.svg" alt="">
            </div>
        </div>

        <div class="permissions-list" [ngClass]="{'open': showGroupOne}">
            <ul>
                <li *ngFor="let permission of permissions">
                    <div class="permission-name">
                        <div class="shape"></div>
                        <p>Permission {{'1' + (permission+1)}}</p>
                    </div>
                    <div class="permission-switch">
                        <img src="assets/images/switch-active.svg" alt="">
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <!-- GROUP 2 -->
    <div class="permission-group">
        <div class="permission-title" (click)="showGroupTwo = !showGroupTwo">
            <div class="icon">
                <img src="assets/images/caret-down.png" alt="">
            </div>
            <div class="group">
                <b>Permission group 2</b>
            </div>
            <div class="switch">
                <img src="assets/images/switch-active.svg" alt="">
            </div>
        </div>

        <div class="permissions-list" [ngClass]="{'open': showGroupTwo}">
            <ul>
                <li *ngFor="let permission of permissions">
                    <div class="permission-name">
                        <div class="shape"></div>
                        <p>Permission {{'2' + (permission+1)}}</p>
                    </div>
                    <div class="permission-switch">
                        <img src="assets/images/switch-active.svg" alt="">
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <!-- GROUP 3 -->
    <div class="permission-group">
        <div class="permission-title" (click)="showGroupThree = !showGroupThree">
            <div class="icon">
                <img src="assets/images/caret-down.png" alt="">
            </div>
            <div class="group">
                <b>Permission group 3</b>
            </div>
            <div class="switch">
                <img src="assets/images/switch-active.svg" alt="">
            </div>
        </div>

        <div class="permissions-list" [ngClass]="{'open': showGroupThree}">
            <ul>
                <li *ngFor="let permission of permissions">
                    <div class="permission-name">
                        <div class="shape"></div>
                        <p>Permission {{'3' + (permission+1)}}</p>
                    </div>
                    <div class="permission-switch">
                        <img src="assets/images/switch-active.svg" alt="">
                    </div>
                </li>
            </ul>
        </div>
    </div>

    </div>
</div>

