// Colors
$gray-bg: #f3f3f3;
$color-purple: #7E7EF1;
$color-primary: #44A0D3;
$color-primary-dark: #305ECA;
$color-danger: #FF0000;
$color-gray: #C6C6C6;
$color-button-disabled: #979797;
$color-success: #44D36A;
$color-body-bg: #f3f3f3;
$shadow-header: 0px 3px 6px #00000029;
$color-table-border: #D8D8D8;
// Mixins
@mixin button($background-color, $size: 0, $shadow: 0,) {
    background: $background-color;
    color: white;
    outline: none;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Segoe UI semibold', sans-serif;
    width: 142px;
    height: 40px;
    line-height: 40px;

    @if $size != 0 {
        width: 210px;
        height: 60px;
        line-height: 60px;
    }
    @if $shadow != 0 {
        box-shadow: 0px 3px 6px #00000029;
    }
}