@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://db.onlinewebfonts.com/c/623c7118249e082fe87a78e08506cb4b?family=Segoe+UI');
@import 'vars';

* {margin: 0; padding: 0; box-sizing: border-box;font-family: 'Segoe UI', sans-serif;}

body {
    background: $color-body-bg;
}

.container {
    width: 80%;
    margin: 0px auto;
    transition: .2s ease;
}
.row {
    width: 100%;
    display: flex;
}

h1 {
    font-size: 36px;
}

form {
    input {
        border: none;
        border-bottom: 2px solid $color-gray;
        padding: 5px;
        background: transparent;
        &:focus {
            outline: none;
        }
    }
    .form-row {
        padding: 20px 0;
        display: flex;
        .form-control {
            position: relative;
            margin-left: 5px;
            flex-grow: 1;
            input {
                width: 100%;
                font-size: 14px;
                &:focus ~ label {
                    bottom: 35px;
                    font-size: 10px;
                    color: $color-primary;
                }
                &:valid ~ label {
                    bottom: 35px;
                    font-size: 10px;
                    color: $color-primary;
                }
            }            
            .ng-invalid.ng-dirty ~ label {
                color: $color-danger;
            }
            .ng-touched ~ label {
                color: $color-danger;
                bottom: 35px;
                font-size: 10px;
                color: $color-primary;
            }
            label {
                position: absolute;
                pointer-events: none;
                left: 5px;
                bottom: 15px;
                font-size: 16px;
                transition: .2s ease;
                color: $color-gray;
            }
        }
        .select-options {
            select {
                width: 100%;
                border: none;
                border-bottom: 2px solid $color-gray;
                padding: 5px;
                background: transparent;
                &:focus {
                    outline: none;
                }
                &:focus ~ label {
                    bottom: 35px;
                    font-size: 10px;
                    color: $color-primary;
                }
                &:valid ~ label {
                    bottom: 35px;
                    font-size: 10px;
                    color: $color-primary;
                }
            }
        }
    }
}