@import 'vars';

.user-summary {
    transition: .2s ease;
    .img-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        img {
            width: 220px;
        }
        span {
            color: $color-gray;
            font-family: 'Segoe UI light', sans-serif;
            font-size: 14px;
            margin-top: 10px;
        }

        .icon-container {
            height: 51px;
            width: 77px;
            border-radius: 30px;
            background: $color-purple;
            text-align: center;
            line-height: 60px;
            position: absolute;
            bottom: 15%;
            right: 0;
            img {
                width: auto;
            }
        }
    }
    .name {
        margin: 40px 0;
        text-align: center;
        h1 {
            font-family: 'Segoe UI semibold', sans-serif;
            font-size: 48px;
            text-align: center;
            line-height: 50px;
            margin-bottom: 15px;
        }
        span {
            font-size: 16px;
            font-family: 'Segoe UI light', sans-serif;
        }
    }
    .botton-container {
        text-align: center;
        transition: .2s ease;
        button {
            @include button($color-purple, 1, 1);
        }
    }
}

.inactive {
    .name {
        opacity: .33;
    }
    .botton-container {
        opacity: 0;
        pointer-events: none;
    }
}

@media only screen and (max-width: 1140px) {
    .icon-container {
        right: 50%!important;
        transform: translateX(150%);
    }
}

