@import 'vars';

.user-summary {
    transition: .2s ease;
    .img-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img {
            width: 220px;
        }
        span {
            color: #B0ACAC;
            font-family: 'Segoe UI light', sans-serif;
            font-size: 14px;
            margin-top: 10px;
        }
    }
    .name {
        margin: 40px 0;
        text-align: center;
        h1 {
            font-family: 'Segoe UI semibold', sans-serif;
            font-size: 48px;
            text-align: center;
            line-height: 50px;
            margin-bottom: 15px;
        }
        span {
            font-size: 16px;
            font-family: 'Segoe UI light', sans-serif;
        }
    }
    .botton-container {
        text-align: center;
        transition: .2s ease;
        button {
            @include button($color-purple, 1, 1);
        }
    }
}

.inactive {
    .name {
        opacity: .33;
    }
    .botton-container {
        opacity: 0;
        pointer-events: none;
    }
}