<div class="user-summary" [ngClass]="{'inactive': !user?.active}">
    <div class="img-container">
        <div class="icon-container" *ngIf="user?.role === 'Admin'">
            <img src="assets/images/key-active.svg" alt="">
        </div>
        <img src="assets/images/profile.svg" alt="">
        <span>UPLOAD A PHOTO</span>
    </div>
    <div class="name">
        <h1>{{user?.firstName}} <br> {{user?.lastName}}</h1>
        <span>{{user?.email}}</span>
    </div>
    <div class="botton-container">
        <button>Resend the invite</button>
    </div>
</div>