@import 'vars';

.add-user-form {
    h2 {
        padding-left: 40px;
    }
    form {
        margin: 50px 0;

        button {
            margin-left: 40px;
            @include button($color-light-blue, 0, 0)
        }

        .disabled {
            background: #c6c6c6;
            color: #979797;
        }

        .icon {
            padding: 5px;
            width: 40px;
            margin-right: 10px;
        }

        .end-row {
            align-items: center;
            justify-content: space-between;
        }
        .email-input-control {
            width: 100%;
        }
        select {
            width: 220px;
        }
    }
}