@import 'vars';

.user-details {
    transition: .2s ease;
    height: 100%;
    display: flex;
    flex-direction: column;
    min-width: 350px;
    height: 525px;
    .title {
        padding-left: 60px;
    }
    .form {
        padding-left: 60px;
        height: 100%;
        button {
            @include button($color-primary, 1, 1);
            position: absolute;
            bottom: 0;
        }
        .form-control {
            width: 100%;
        }
        form {
            height: 100%;
            position: relative;

            .disabled {
                background: $color-gray;
                color: $color-button-disabled;
            }
        }
    }
    .active {
        display: flex;
        align-items: center;
        margin: 40px 0;

        .img-container {
            width: 60px;
            position: relative;
            height: 100%;
            img {
                cursor: pointer;
                position: absolute;
                left: 0;
            }
        }
    }
}

.inactive {
    .form {
        opacity: .3;
        pointer-events: none;
        transition: .2s ease;
        button {
            opacity: 0;
        }
    }
}

@media only screen and (max-width: 1140px) {
    .title {
        padding-left: 0!important;
        text-align: center;
    }
    .active {
        justify-content: center;
    }
    .form {
        padding-left: 0!important;
        button {
            left: 50%;
            transform: translateX(-50%);
        }
        form {
            height: 90%!important;
        }
    }
}

@media only screen and (max-width: 500px) {
    .user-details {
        min-width: auto;
    }
}