@import 'vars';
.del-user-card {
    h2 {
        padding-left: 40px;
    }
    .row {
        margin: 50px 0;
        display: flex;
        .icon {
            width: 40px;
        }
        .info {
            border-bottom: 2px solid #e8e8e8;
            flex-grow: 1;
            padding-bottom: 40px;
            .active-user {
                color: $color-light-blue;
            }
            .inactive-user {
                color: red;
            }
            p {
                display: flex;
                justify-content: space-between;
            }
        }
    }
    .button-container {
        padding-left: 40px;
        button {
            @include button(red, 0, 0);
        }
    }
}