<div class="del-user-card">
    <h2>Delete User</h2>
    <div class="row">
        <div class="icon">
            <img src="assets/images/face.svg" alt="">
        </div>
        <div class="info">
            <p>
                <span>
                    {{ user?.firstName}} {{ user?.lastName}}
                </span>
                <span [ngClass]="{'inactive-user': !user?.active}" class="active-user">
                    {{ user?.active ? 'Active User' : 'Inactive User' }}
                </span>
            </p>
        </div>
    </div>
    <div class="button-container">
        <button (click)="deleteUser()">
            Delete User
        </button>
    </div>
</div>